// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:

$main: #007460; //dark green
$lightcolor: #87A878; //  light green
$basecolor: #FFFFFF; // white
$beige: #EEEBD3; // beige
$highlight: #F7C456; // gold
