<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="border-top-0"></th>
        <th class="border-top-0"><p class="sort-title lead text-primary"><i class="sort-icon fas fa-sort text-light"></i>Chaleur Urbaine</p></th>
        <th class="border-top-0"><p class="sort-title lead text-primary"><i class="sort-icon fas fa-sort text-light"></i>Biodiversité</p></th>
        <th class="border-top-0"><p class="sort-title lead text-primary"><i class="sort-icon fas fa-sort text-light"></i>Infiltration</p></th>
        <th class="border-top-0"><p class="sort-title lead text-primary"><i class="sort-icon fas fa-sort text-light"></i>Nourriture locale</p></th>
      </tr>
    </thead>
    <tbody>
      <% @favorites.each do |fav| %>
        <%= render 'horizontal_card', project: fav.project %>
      <% end %>
    </tbody>
  </table>
</div>
