
// Specific CSS for your home-page

.background-home-image {
  height: 73vh;
  background-image: image-url("Banner_sm.jpg");
  color: $body-bg;
}

.concept-title {
  height: 15vh;
}

.secondary-background {
  background-color: $secondary;
}

.concept-parts img {
  height: 10rem;
  width: 100%;
}

.concept-parts h6 {
  margin-top: 1rem;
}

.impact {
  background-color: $main;
  height: 66vh;
}

.elemental-impact {
  border-radius: 50%;
  background-color: $body-bg;
  color: $body-color;
  height: 15rem;
  width: 15rem;
}
