.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.fourth-row div h4 {
  margin: 2px 0px;
  background-color: black;
}

.seventh-row p {
  margin: -2px 0px;
}

.eight-row p {
  margin: -2px 0px;
}

.second-row {
  background-color: black;
}
