<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="../../images/exploitation-bio-de-vignes-et-d-oliviers.jpg" alt="exploitation-bio-de-vignes-et-d-oliviers">
  <div class="card-body">
    <h2 class="card-title">Exploitation bio de vignes et d’oliviers</h2>
    <h3 class="card-text">Versailles</h3>
  </div>
</div>
