<div class="card">
  <div class="image-star-container">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="exploitation-bio-de-vignes-et-d-oliviers">
    <span class="change-icon">
    <i class="far fa-star fa-2x star-position"></i>
    <i class="fas fa-star fa-2x star-position"></i>
    </span>
  </div>
  <div class="card-body">
    <h2 class="card-title text-body-color">Exploitation bio de vignes et d’oliviers</h2>
    <h3 class="card-text text-info">Versailles</h3>
  </div>
</div>
