<div class="card change-div">
<div class="card front">
  <div class="image-star-container">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="exploitation-bio-de-vignes-et-d-oliviers">
    <span class="change-icon">
    <i class="far fa-star fa-2x star-position"></i>
    <i class="fas fa-star fa-2x star-position"></i>
    </span>
  </div>
  <div class="card-body">
    <h3 class="card-title text-body-color">Exploitation bio de vignes et d’oliviers</h3>
    <h5 class="card-text text-info">Versailles</h5>
    <div class="money-total text-right">
    <h4>55 000€</h4>
    </div>
    <div class="progress flex-grow-1 mr-4" style="height: 12px;">
      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <h5>43 000€</h5>
      </div>
    </div>
  </div>
</div>

<div class="card back">
  <h3 class="card-title text-body-color m-3">Exploitation bio de vignes et d’oliviers</h3>
  <span class="change-icon">
    <i class="far fa-star fa-2x star-position"></i>
    <i class="fas fa-star fa-2x star-position"></i>
    </span>
    <h5 class="card-text text-info ml-3">Versailles</h5>

    <div class="kpi-container">
      <div class="d-flex justify-content-around my-4">
        <div class="border border-primary rounded text-center box-width d-flex flex-column justify-content-start px-1">
          <h3 class="mt-3">-2°C</h3>
          <p>Rafraichissement urbain</p>
        </div>
        <div class="border border-primary rounded text-center box-width d-flex flex-column justify-content-start px-1">
          <h3 class="mt-3">900m</h3>
          <p>Infiltration d'eau</p>
        </div>
        <div class="border border-primary rounded text-center box-width d-flex flex-column justify-content-start px-1">
          <h3 class="mt-3">0,6</h3>
          <p>Biodiversité</p>
        </div>
        <div class="border border-primary rounded text-center box-width d-flex flex-column justify-content-start px-1">
          <h3 class="mt-3">4,5%</h3>
          <p>Nourriture locale</p>
        </div>
      </div>
    </div>

    <p class="text-center">35 days left to finance this project</p>

    <div class="bottom-box d-flex justify-content-center">
      <a class="btn btn-primary">Je découvre</a>
    </div>

</div>
</div>
