<div class="container">
  <div class="contract-card d-flex flex-column border border-beige p-4 rounded">
    <div class="box-top">
      <h1>Exploitation Olivier</h1>
      <div class="container pb-4 pt-4">
        <div class="row">
          <div class="col text-left"><h4>Votre donation</h4></div>
          <div class="col text-right text-info pr-4"><h4>15 000€</h4></div>
          <div class="col text-left pl-4"><h4>Votre Apport</h4></div>
          <div class="col text-right text-info"><h4>17%</h4></div>
        </div>
        <div class="row">
          <div class="col text-left"><h4>Debut Projet</h4></div>
          <div class="col text-right text-info pr-4"><h4>15.12.2019</h4></div>
          <div class="col text-left pl-4"><h4>Fin Projet</h4></div>
          <div class="col text-right text-info"><h4>14.12.2039</h4></div>
        </div>
      </div>
    </div>
    <div class="box-middle border-top border-beige pt-4">
      <h2>Votre Contribution écologique</h2>
      <div class="eco-contribution pb-4 pt-2 d-flex justify-content-between">
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3>-0.8°C</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Chaleur Urbain</h5>
          </div>
        </div>
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3>300m³</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Infiltration d'eau</h5>
          </div>
        </div>
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3>0.25</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Biodiversité</h5>
          </div>
        </div>
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3>1.23%</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Nourriture Locale</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="box-bottom d-flex justify-content-center">
      <a class="btn btn-primary" href="#">Télécharger Facture</a>
    </div>
  </div>
</div>
