<div class="container">
  <div class="contract-card d-flex flex-column border border-beige p-4 rounded">
    <div class="box-top">
      <h1>Toto</h1>
      <div class="container">
        <div class="row">
          <div class="col">Votre donation</div>
          <div class="col text-right pr-4">15 000€</div>
          <div class="col pl-4">Contribution Projet</div>
          <div class="col text-right">17%</div>
        </div>
      </div>
    </div>
    <div class="box-middle">
      <div class="eco-contribution">
        <div class="eco-result">

        </div>
        <div class="eco-result">

        </div>
        <div class="eco-result">

        </div>
        <div class="eco-result">

        </div>
      </div>
    </div>
  </div>
</div>
