<div class ="">
  <div class="humus-navbar d-flex justify-content-between align-items-center my-2 mx-2">
    <div class="left d-flex">

        <%= link_to root_path do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
        <% end %>
      <div class= "d-flex flex-column justify-content-center">
      <%= link_to "Projets", projects_path, class: "nav-item nav-link" %>
      <!-- <a class="nav-item nav-link" href="projects">Projets</a> -->
      </div>
      <a class="nav-item nav-link d-flex flex-column justify-content-center" href="#">Concept</a>
    </div>
    <div class="right">
      <a class="nav-item nav-link d-flex flex-column justify-content-center" href="#">Profile</a>
    </div>
  </div>
</div>
