<div class="humus-navbar d-flex justify-content-between align-items-center my-2">
  <div class="left d-flex align-items-center ml-4">


    <%= link_to root_path do %>
      <%= image_tag "planet_logo.png" %>
    <% end %>
    <%= link_to "Mes projets", projects_path, class: "nav-item nav-link" %>
    <!-- <a class="nav-item nav-link" href="projects">Projets</a> -->
    <a class="nav-item nav-link" href="#">Concept</a>
  </div>
  <div class="right mr-4">
    <a class="nav-item nav-link" href="#">Profile</a>
  </div>
</div>
