<div class="card-trip">
  <%= cl_image_tag project.photo.key, crop: :fill %>
  <!-- <img src="https://images.unsplash.com/photo-1507662228758-08d030c4820b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" /> -->
  <div class="card-trip-infos">
    <div>
      <h2>LE PROJET</h2>
      <p><%= project.description %><br>La majorité de la récolte des raisins de l’exploitation est apportée dans une cave coopérative et Camille Castera fait vinifier le reste de son raisin directement afin de vendre ses bouteilles à des particuliers.

        Quant à ses olives, elles sont apportées à la cave oléicole de l'Oulibo où elles sont pressées pour être conditionnées et vendues.

        Le financement de 80 000€ demandé sera notamment utilisé pour développer la production du domaine, avec de nouvelles plantations, et aussi pour accroitre la vente directe de bouteilles dans l’objectif de créer un caveau par la suite.

        Tous ces développements seront financés sur 5 ans à un taux de 6% avec des remboursements mensuels.
        La majorité de la récolte des raisins de l’exploitation est apportée dans une cave coopérative et Camille Castera fait vinifier le reste de son raisin directement afin de vendre ses bouteilles à des particuliers.

        Quant à ses olives, elles sont apportées à la cave oléicole de l'Oulibo où elles sont pressées pour être conditionnées et vendues.

        Le financement de 80 000€ demandé sera notamment utilisé pour développer la production du domaine, avec de nouvelles plantations, et aussi pour accroitre la vente directe de bouteilles dans l’objectif de créer un caveau par la suite.

        Tous ces développements seront financés sur 5 ans à un taux de 6% avec des remboursements mensuels.
        La majorité de la récolte des raisins de l’exploitation est apportée dans une cave coopérative et Camille Castera fait vinifier le reste de son raisin directement afin de vendre ses bouteilles à des particuliers.

        Quant à ses olives, elles sont apportées à la cave oléicole de l'Oulibo où elles sont pressées pour être conditionnées et vendues.

        Le financement de 80 000€ demandé sera notamment utilisé pour développer la production du domaine, avec de nouvelles plantations, et aussi pour accroitre la vente directe de bouteilles dans l’objectif de créer un caveau par la suite.

        Tous ces développements seront financés sur 5 ans à un taux de 6% avec des remboursements mensuels.
      </p>
      <div class="bottom-box d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-primary">Je partage</button>
      </div>
    </div>
  </div>
</div>
