<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-10 mx-auto">
      <div class="search-elements d-flex align-items-center border border-beige">
        <div class="search-img">
         <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
        </div>
        <div class="search-form-container">
          <input type="text" class="form-control" placeholder="Où souhaitez-vous investir ?">
          <button type="submit" class="btn btn-primary">Recherche Projet</button>
        </div>
      </div>
    </div>
  </div>
</div>

