<div class="container">
  <form class="row
              mx-auto
              p-2
              align-item-center
              justify-content-between
              border
              border-beige">
    <div class="col-lg-2 my-auto text-center">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class:"small-logo my-1" %>
    </div>
    <div class="col my-auto text-center">
      <input type="text" class="form-control flex-grow my-1" id="q" name="q" placeholder="Où souhaitez-vous investir ?">
    </div>
    <div class="col-lg-3 my-auto text-center">
      <button type="submit" class="btn btn-primary text-nowrap my-1">Rechercher un Projet</button>
    </div>
  </form>
</div>
