<% @projects.each do |project| %>

<div class="container pt-2">
  <li><%= link_to project.name, project_path(project) %> </li>
</div>

<% end %>

===============================================

<% @projects.each do |proj| %>

<% is_favorite = false %>
<% Favorite.all.each do |f| %>
<% if f.project_id == proj.id %>
<% is_favorite = true %>
<% end %>
<% end %>

<% if is_favorite %>
<%= ("#{proj.id}") %>
<%= ("#{proj.name}") %>

<% end %>

<% end %>
