<h1 class="text-center text-primary my-5">Vos projets favoris</h1>
<div class="d-flex justify-content-around flex-wrap">
  <% @projects.each do |project| %>
    <% if project.liked_by_current_user?(current_user) %>
      <div class="container">
        <div class = "my-5">
          <%= render 'shared/card', project: project %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
