<div class="container-fluid pr-0">
  <div class="col-12 m-2 text-primary">
    <h1>Results</h1>
  </div>
  <div class="row ml-2">
    <div class="col-6">
        <% @projects.each do |project| %>
        <%= render 'shared/card', project: project %>
        <% end %>
    </div>
    <div class="col-6">
      <div class="sticky-top pt-2">
        <div
          id="searchProjectMap"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>
</div>
