<div class="row m-4">
  <div class="col-8">
    <%= render 'shared/left_project_card' %>
    <li>
    <%= @project.name %>
    <br>
    <%= @project.description %>
    </li>
    <br>
  </div>
  <div class="col-4">
    <%= render 'shared/right_project_card' %>
  </div>
</div>


