<div class="container-fluid">
  <div class="col-12 m-2 text-primary">
    <h1><%= @project.name %></h1>
  </div>
  <div class="row m-2">
    <div class="col-8">
      <%= render 'shared/left_project_card', project: @project %>
    </div>
    <div class="col-4">
      <%= render 'shared/right_project_card', project: @project %>
    </div>
  </div>
</div>


