.footer {
  background: $basecolor;
  height: 7rem;
  padding: 0rem 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: $body-color;
  opacity: 0.5;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 1rem;
}

.footer a:hover {
  opacity: 1;
}
