.humus-navbar {
  background: $basecolor;
  // align-items: center;
  a {
    color: black;
  }
  .left img {
    width: 40px;
  }
}




// .humus-navbar-left {
//   display: flex;
//   justify-content: space-between;
// }
