.humus-navbar {
  background: $basecolor;
  // align-items: center;
  a {
    color: $body-color;
  }
  .left img {
    width: 50px;
    height: 50px;
  }
  img {
    border-radius: 150px;
  }

}





// .humus-navbar-left {
//   display: flex;
//   justify-content: space-between;
// }
