
.background-projects-image::before {
background-image: url("projects_background");
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
opacity: 0.1;
}

//.background-projects-image {
//  height: 73vh;
//  background-image: image-url("Banner_sm.jpg");
//  color: $body-bg;
//}
