.money-collected {
  .right {
    color: $highlight;
  }
}

.progress {
  background-color: $beige;
}

.impact-box {
  width: 40%;
}

.impact-box {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .first-row {
    color: $highlight;
    font-weight: bold;
  }
}

.top-results {
  margin-top: 23px;
}

.middle-box {
  margin-left: 15px;
  margin-right: 15px;
}

.card-box {
  box-shadow: 5px 5px 8px rgba(0,0,0,.1);
  position: sticky;
  top: 60px;
}
