.simple_form {
  margin: 10px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #007460;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #87A878;
  color: white;
}

.container {
  padding-top: 10px;
}
